.ready{
    background-color: lightgreen;
}

.menuContainer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#player2Menu{
    grid-column: 3;
}
.gameMenu{
    grid-column: 2;
}
.playerMenu{
    margin: 0 auto;
}
.labelValueGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.swapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}