@font-face {
    font-family: gameIcon;
    src: url("./../fonts/FUTHA___.TTF");
}



.boardContainer{
    margin: auto;
    margin-top: 100px;
    padding: 0px;
    width: 50%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.gameBoard{
    box-shadow: 9px 14px 20px -5px rgba(0,0,0,0.17);
    height: min-content;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    grid-column: 2;
    margin: auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 0px;
    background-color: #329DFF
}
.boardSlot{
    -webkit-box-shadow: inset 2px 2px 15px -4px rgba(0,0,0,0.4); 
    box-shadow: inset 2px 2px 15px -4px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.42);
    margin: auto;
    background-color: #f5f5f5;
    font-family: gameIcon;
    font-size: 80px;
    line-height: 100px;
    width: 90px;
    height: 90px;
}
#player2Container{
    grid-column: 3;
}
.playerName{
    color: white;
    font-size: 32px;
}
.playerScore{
    color: white;
    font-size: 32px;
}

.player1Clicked{
    
}
.player2Clicked{
    
}

.winningMessage{
    -webkit-box-shadow: 0px 21px 15px 5px rgba(0,0,0,0.53); 
    box-shadow: 0px 21px 15px 5px rgba(0,0,0,0.53);
    margin: 0;
    padding: 0;
    position:absolute;
    background-color: rgb(255, 194, 81);
    height: 100px;
    line-height: 100px;
    padding-bottom: 30px;
    font-size: 90px;
    width:100%;
    text-align: center;
    margin-top: 200px;
    display: none;
    opacity: 0;
}

.winningMessageShow{
    
    display: inline;
    opacity: 1;
}


